{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container">
        <div class="offset-md-3 col-md-4 col-sm-12">

            <!--tab popular-->
            <ul role="tablist" class="tab-popular">
                <div class="active" >
                    <h3 class="text-center">
                        Profil de {{ app.user.nom }}
                    </h3>
                    <h3 class="text-center">Vos Annonces</h3>
                    <a id="buttonmodif" type="button" class="btn btn-info" href="{{ path('membre-edit', {id:membre.id})}}">Modifier votre profil</a>
                </div>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="card-deck col-md-12 col-sm-12">
            {% for annonce in anns %}


                <div class="card">
                    <div class="top-section">
                        <img class="card-img-top" id="image-container"
                             src="{{ asset('images/product/' ~ annonce.featuredImage) }}" alt="{{ annonce.titre }}">
                        <div class="nav">
                            <img onclick="change_img(this)" src="{{ asset('images/product/' ~ annonce.featuredImage) }}"
                                 alt="{{ annonce.titre }}">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.categorie.slug }}</h5>
                        <p class="card-text ">{{ annonce.contenu | raw }}</p>
                        <div class="card-footer">
                            <p class="card-text">
                                <small class="text-muted">{{ annonce.dateCreation | date('d/m/Y') }}</small>
                            </p>
                        </div>
                        <div class="price">{{ annonce.prix }} €</div>

                    </div>

                    <a class="btn btn-info" href="{{ path('annonce-edit', {id:annonce.id} ) }}">Modifier votre annonce</a>

                    <a onclick="alert('Votre annonce va être supprimer')" class="btn btn-danger"
                       href="{{ path('annonce-delete', {id:annonce.id} ) }}">Supprimer</a>

                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <script type="text/javascript">
        var container = document.getElementById("image-container");

        function change_img(image) {
            container.src = image.src;
        }


    </script>



{% endblock %}