
{% block title %}
    {{ categorie.nom }}
{% endblock %}

{% block content %}
<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        {% if annonces is not empty %}
            <div class="box-caption">
                <span>{{ categorie.nom }}</span>
            </div>
            <!--list-news-cate-->
            <div class="list-news-cate">
                {% for annonce in annonces %}
                    <article class="news-cate-item">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <a href="{{ path('connexion_connexion', {
                                    'categorie' : annonce.categorie.slug,
                                    'slug' : annonce.slug,
                                    'id' : annonce.id
                                }) }}">
                                    <img alt="{{ annonce.titre }}"
                                         src="{{ asset('images/product/' ~ annonce.featuredImage) }}">
                                </a>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3><a href="{{ path('connexion_connexion', {
                                        'categorie' : annonce.categorie.slug,
                                        'slug' : annonce.slug,
                                        'id' : annonce.id
                                    }) }}">{{ annonce.titre }}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ annonce.membre.prenom ~ ' ' ~ annonce.membre.nom }}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{ annonce.dateCreation | date('d/m/Y') }}
                               </span>
                                </div>
                                {{ annonce.contenu }}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

        {% else %}

            <div class="alert alert-info">
                Pas d'articles pour le moment.
            </div>

        {% endif %}

        {#<div class="paging">
            <a href="#">Prev</a>
            <a href="#" class="current">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Next</a>
        </div>#}

    </div>
</div>





<div class="container">
    <div class="row">
        <div style="background-color: #dee4ed;" class="col-md-6">
            <div>
                <img style="max-height: 300px;margin-top: 10px;margin-bottom: 10px;border-style: groove" alt="{{ annonce.titre }}"
                     src="{{ asset('images/product/' ~ annonce.featuredImage) }}">
            </div>
            <div class="col-md-6">


            </div>

        </div>

    </div>
</div>