{% extends "layout.html.twig" %}
{% block content %}
    <style>

        #homeitem:nth-child(1) {
            background: #FABA00;
        }
        #homeitem:nth-child(4) {
            background: #FABA00;
        }
        #homeitem:nth-child(5) {
            background: #FABA00;
        }

    </style>

    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner_content">
                            <h2 id="recycler">Recycler vaut mieux que jeter <i id="fas" class="fas fa-sync fa-spin"></i>  <br> <span id="revendez">Revendez, Negocier, Donner tout vos objets d'occasion !</span></h2>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">Gestion Annonce
                                    <a class="banner_btn" id="creer" href="{{ path('annonce_new') }}">Créer votre annonce !</a>

                                </li>
                            {% else %}
                                <a class="banner_btn" id="connecter" href="{{ path('connexion_connexion') }}">Connectez vous !</a>
                                <a class="banner_btn" id="inscriver" href="{{ path('membre_inscription') }}">Inscrivez-vous !</a>

                            {% endif %}
                            </div>
                    </div>
                    <div id="divcol" class="col-lg-4">
                        <div id="styhome" class="home_right_box">
                            {% for categorie in categories %}
                            <div id="homeitem" class="home_item">
                                <a href="{{ path('categorie_home', {
                                    'slug' : categorie.slug
                                }) }}" id="home_cate"  >{{ categorie.nom }}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr color="#FABA00">
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 id="consiste">En quoi consiste <span>Second Life</span> ?</h1><br>
                <div id="services">Second Life est un site du marchandage d'objet usé / Abimé qui peut être donné, négociez ou vendue entre particuliers et professionnels.</div>


            </div>
            <div class="col-md-6">
                <img id="logomain" alt="main-donner" src="{{ asset ('images/logo/logov2.png') }}">
            </div>
        </div>
    </div>
    <hr color="#FABA00">

    <div class="container">
        <div class="row">
            <div id="divnegocier"  class="col-6">
                <h1 id="negocier"><span id="negoc2">Négociez !</span></h1>
                <div id="avec">Avec Second Life vous pouvez choisir l'option Négociez l'offre et repartir heureux des deux côtés !</div>
            </div>
            <div class="col-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgSMejGy6eJZjqdPI9Fm7qrUi7y8UmPMoFXRG5GKzsygcbM2Z" alt="negociations">
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div id="divdonner" class="col-6">
                <img id="negologo"  src="https://previews.123rf.com/images/honksantima/honksantima1710/honksantima171001618/87782882-hand-holding-gear-engineer-symbol.jpg" alt="negociations">
            </div>
            <div id="divcoldonner" class="col-6">
                <h1 id="donner" >Donner !</h1>
                <div id="avecdonner">Avec Second Life vous être libre de donner tous vos objets gratuitement !</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div id="divender" class="col-6">
                <h1 id="vender"><span id="venderspan">Vendez !</span></h1>
                <div id="avecvender">Avec Second Life vous n'êtes pas obligé de passer par la case négocier, vendez vos objets directement sans perdre de temps ! </div>
            </div>
            <div id="divcolvender" class="col-6">
                <img id="logonego" src="https://static.thenounproject.com/png/1010451-200.png" alt="negociations">
            </div>
        </div>
    </div>

    

{% endblock %}