<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner_content">
                        <h2 id="recycler">Recycler vaut mieux que jeter <i class="fas fa-sync fa-spin"></i>  <br> <span id="revend">Revendez, Negocier, Donner tout vos objets usager !</span></h2>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a id="cree" class="banner_btn" href="{{ path('annonce_new') }}">Crée votre annonce !</a>
                        {% else %}
                            <a id="connectez" class="banner_btn" href="{{ path('connexion_connexion') }}">Connectez vous !</a>
                            <a id="inscrivez" class="banner_btn" href="{{ path('membre_inscription') }}">Inscrivez-vous !</a>
                        {% endif %}
                    </div>
                </div>
                <div id="divcate" class="col-lg-4">
                    <div id="box" class="home_right_box">
                        {% for categorie in categories %}
                            <div class="home_item">
                                <a id="catenom" href="{{ path('categorie_home', {'slug' : categorie.slug}) }}">{{ categorie.nom }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr color="#FABA00">
    </div>
</section>