
<header class="header_area">

    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="{{ asset ('images/logo/testo.png') }}" alt="logo SecondLife" id="testo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul  class="nav navbar-nav menu_nav ml-auto" id="navbar">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('index_home') }}" id="accueil">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="about-us.html"></a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="categorie">Catégories</a>
                            <ul class="dropdown-menu">
                                {% for categorie in categories %}
                                    <li class="nav-item"><a  class="nav-link" id="categories" href="{{ path('categorie_home', {
                                            'slug' : categorie.slug
                                        }) }}">{{ categorie.nom }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item"><a class="nav-link" id="bonjour" href="{{ path('profil') }}">Bonjour {{ app.user.prenom }}</a></li>

                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="gestion">Gestion des annonces</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="{{ path('annonce_new') }}">Créer votre annonce</a></li>
                                    </ul>
                            </li>

                            <li class="nav-item"><a  class="nav-link" id="deconnexion" href="{{ path('security_deconnexion') }}">Deconnexion</a></li>


                        {% else %}
                            <li class="nav-item"><a class="nav-link" id="connexion" href="{{ path('connexion_connexion') }}">Connexion</a></li>
                            <li class="nav-item"><a class="nav-link" id="inscription" href="{{ path('membre_inscription') }}">Inscription</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <hr color="#FABA00">
    </div>
</header>
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner_content">
                        <h2 id="recycler">Recycler vaut mieux que jeter <i style="color: green;" class="fas fa-sync fa-spin"></i>  <br> <span id="revendez">Revendez, Negocier, Donner tout vos objets usager !</span></h2>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">Gestion Annonce
                            <a class="banner_btn" id="creer" href="{{ path('annonce_new') }}">Créer votre annonce !</a>

                            </li>
                        {% else %}
                            <a class="banner_btn" id="connecter" href="{{ path('connexion_connexion') }}">Connectez vous !</a>
                            <a class="banner_btn" id="inscriver" href="{{ path('membre_inscription') }}">Inscrivez-vous !</a>

                        {% endif %}
                        {% include 'components/map.html.twig' %}
                    </div>
                </div>
                <div style="color: black" class="col-lg-4">
                    <div style="border-color: black;" class="home_right_box">
                        <div class="home_item" style="background-color:	#FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Mobilier</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Véhicule</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Electromenager</span>
                        </div>
                        <div class="home_item" style="background-color: #FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Loisir</span>
                        </div>
                        <div class="home_item" style="background-color: #FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px;">Multimedia</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Divers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr color="#FABA00">
    </div>
</section>