<header class="header_area">
    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img style="height: 50px;" src="img/testa  .png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ path('connexion_connexion') }}">Acceuil</a></li>
                        <li class="nav-item"><a class="nav-link" href="profil.html.twig">Profil</a></li>
                        <li class="nav-item"><a class="nav-link" href="about-us.html"></a></li>
>>>>>>> Develop
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;font-family: 'Comfortaa', cursive;">Catégories</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="projects.html">Mobilier</a></li>
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="project-details.html">Vehicule</a></li>
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="elements.html">Electromenager</a></li>
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="projects.html">Loisir</a></li>
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="project-details.html">Multimedia</a></li>
                                <li class="nav-item"><a style="color: black;font-family: 'Comfortaa', cursive;" class="nav-link" href="elements.html">Divers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>

                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('connexion_connexion') }}">Connexion</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('membre_inscription') }}">Inscription</a>
                        </li>
<<<<<<< HEAD
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('annonce_new') }}" >Creer une Annonce</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr color="#FABA00">
    </div>
</header>
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="banner_content">
                        <h2>Precise concept design <br />for stylish living</h2>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
                        <a class="banner_btn" href="{{ path('connexion_connexion') }}">Connecter vous!</a>
                    </div>
                    <div>
                        <a href="{{ path('membre_inscription') }}">Toujours pas inscrit??</a>
                    </div>
                </div>
                <div style="color: black" class="col-lg-4">
                    <div style="border-color: black;" class="home_right_box">
                        <div class="home_item" style="background-color:	#FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Mobilier</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Véhicule</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Electromenager</span>
                        </div>
                        <div class="home_item" style="background-color: #FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Loisir</span>
                        </div>
                        <div class="home_item" style="background-color: #FABA00;">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px;">Multimedia</span>
                        </div>
                        <div class="home_item">
                            <span style="font-family: 'Comfortaa', cursive;font-size: 17px">Divers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr color="#FABA00">
    </div>
</section>
